* {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "width" 100;
    padding: 0;
    border: 0;
    margin: 0;
    z-index: 1;
}

html{
    height: 100%;
}

html body{
    background: #F5821F;
    height: 100%;
}

.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0));
}
.navbar .logo{
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
}
.navbar .text{
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
.navbar .socials {
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-right: 50px;
    justify-content: space-between;
    transform: scale(0.9);
}
.navbar .socials .b1{
    background-color: blue;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 255, 0.1),  rgba(0, 0, 0, 0.8)), url("assets/img3.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    padding-top: 10vh;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container{
    margin-top: 2vh;
    margin-left: 20vw;
    margin-right: 20vw;
    height: 50%;
}

.t1{
    font-family: "Sofia Sans Extra Condensed", serif;
    font-size: 5vh;
    text-align: justify;
}