* {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "width" 100;
    padding: 0;
    border: 0;
    margin: 0;
    z-index: 1;
}

html body{
    overflow-x: hidden;
}
.sec1{
    height: 100vh;
    width: 100vw;
}
.sec1 .back{
    background: url('./assets/bg1.png');
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    transform: scale(0.95);
}
.bg{
    background: rgb(2,0,36);
    background: linear-gradient(126deg, rgba(2,0,36,1) 5%, rgba(118,208,211,1) 50%, rgba(2,0,36,1) 100%);  
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5)10%,rgba(0,0,0,0.0));
    z-index: 2;
}

.navbar .burger {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 5vh;
    transition: 0.5s;
}

.navbar .logo{
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-left: 2vw;
    margin-top: 1vh;
}

.navbar .logo img{
    height: 125%;
}

.navbar .text{
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
.navbar .socials {
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-right: 2vw;
    justify-content: space-between;
    transform: scale(0.9);
}

.navbar .socials .bi-youtube{
    font-size: 4vw;
}

.navbar a{
    color: white;
    text-decoration: none
}

.navbar a:hover{
    text-decoration: underline;
}


.sec2{
    height: 60vh;
    width:100vw;
    background-color: #F5CC00;
}
.sec2 .thingy{
    position: absolute;
    right: 0;
    background-color: #EA730B;
    background: url('./assets/chennai.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 61%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
}

.sec2 .thingy img{
    display: none;
}

.sec2 .text{
    position: absolute;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec2 .text .t1{
    font-size: 5vw;
    z-index: 3;
}
.sec2 .text .t2{
    width: 30vw;
    font-size: 2.5vw;
    z-index: 3;
}
.sec2 .text .bgtext{
    font-size: 22vw;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 10%;
    transform: translateX(-8%);
}
.sec3{
    height: 60vh;
    width:100vw;
    background-color: #EA730B;
}
.sec3 .thingy{
    position: absolute;
    left: 0;
    background-color: #F5CC00;
    height: 60vh;
    width: 61%;
    clip-path: polygon(0 0, 82% 0, 100% 100%, 0 100%);
}
.sec3 .text{
    position: absolute;
    right:0;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec3 .text .t1{
    font-size: 5vw;
    z-index: 3;
}
.sec3 .text .t2{
    width: 30vw;
    font-size: 2.5vw;
    z-index: 3;
}
.sec3 .text .bgtext{
    font-size: 22vw;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 10%;
    transform: translateX(-8%);
}

.sec8{
    height: 60vh;
    width:100vw;
    background-color: #76D0D3;
}
.sec8 .thingy{
    position: absolute;
    right: 0;
    background-color: #EA730B;

    background: url('./assets/sonali.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 61%;
    clip-path: polygon(36% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.sec8 .thingy img{
    display: none;
}
.sec8 .text{
    position: absolute;
    left: 0%;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec8 .text .t1{
    font-size: 5vw;
    z-index: 3;
}
.sec8 .text .t2{
    width: 30vw;
    font-size: 2.5vw;
    z-index: 3;
}
.sec8 .text .bgtext{
    font-size: 22vw;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 10%;
    transform: translateX(-8%);
}

.sec4{
    height: 60vh;
    width: 100vw;
    background-color: #76D0D3;
    display: flex;
}
.sec4 .text{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    
}
.sec4 .text .t1{
    font-size: 5vw;
    line-height: 85%;
}
.sec4 .text .t2{
    font-size: 2.5vw;
}
.sec4 .articles{
    height: 60vh;
    width: 70vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex-shrink: 0;
}
.sec4 .articles .scroll{
    height: fit-content;
    width: 70vw;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-shrink: 0;
    padding:5vw;
}
.sec4 .articles .box{
    background-color: white;
    margin-right: 4vw;
    min-width: 18vw;
}
.sec4 .articles .box:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
.sec4 .articles .box img{
    width: 100%;
}
.sec4 .articles .box .bt {
    padding: 1vw;
}
.sec4 .articles .box .bt .h{
    font-size: 2.2vw;
    color: #F5CC00;
    
}
.sec4 .articles .box .bt .t{
    font-size: 1.7vw;
    
}
.sec4 .articles .box .bt .f{
    color: #EA730B;
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1vh;
}

.sec4 .articles .box .bt .f svg{
    width: 1vw;
    height: 1vw;
}


.sec4 .text .bgtext{
    font-size: 20vw;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 10%;
    transform: translateX(-8%);
}

.sec5{
    height: 90vh;
    width: 100vw;
    background-color: #F5CC00;
    align-items: center;
}
.sec5 .text{
    height: 10vh;
    width: 100vw;
    display:block;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    text-align: center;
    
}
.sec5 .text .t1{
    font-size: 5vw;
    line-height: 85%;
}
.sec5 .text .t2{
    font-size: 2.5vw;
}

.sec5 .ytembed{
    height: 70%;
    width: 60%;
    display: block;
    justify-content: center;
    align-self: center;
}

.sec6{
    height: 70vh;
    width: 100vw;
    background-color: #EA730B;
    display: flex;
}
.sec6 .text{
    position: absolute;
    right:0;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;    
}
.sec6 .text2{
    display: none;
}
.sec6 .text .t1{
    font-size: 5vw;
    z-index: 3;
}
.sec6 .text .t2{
    width: 30vw;
    font-size: 2.5vw;
    z-index: 3;
}

.sec6 .typeform{
    height: 100%;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
}

.t2 {
    font-family: "Sofia Sans Extra Condensed", serif;
}

.container {
    align-items: center;
    justify-content: center;
    
  }


  /* literally the same code with different class names  */
  .slider2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .slider-content2 {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .slider-content2 figure {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow: hidden;
  }
  .slider-content2 figure img {
    height: 70vh;
    width: 61vw;
    object-fit: cover;
    transform-origin: center;
    transition-duration: 0.5s;
    transition-property: transform, opacity;
    transform: scale(1.3);
    opacity: 0;
  }
  .slider-content2 figure.show img {
    transform: scale(1);
    opacity: 1;
  }
  .slider-navigation2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw;
    padding-right: 8vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slider-navigation2 button {
      width: 3vw;
      height: 3vw;
      border-radius: 50%;
      border: 1px solid #ecedf0;
      cursor: pointer;
      background-color: #fff;
      font-size: 1vw;
    }

  .slider-navigation2 button.disabled {
    pointer-events: none;
  }

@media (max-width:575px) {
    .navbar .text {
        display: none;
    }
    .navbar .socials {
        display: none;
    }
    .navbar .burger {
        display: inline;
        transition: 0.5s;
    }
    .navbar .burger i {
        font-weight: 900;
        font-size: 15vw;
        padding: 3vw;
    }
    .navbar .logo img {
        height: 125%;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 10vh;
        transition: 0.5s;
        text-align: center;
    }
    .sidenav a{
        padding-top: 1vh;
        padding-left: 1vh;
        padding-right: 1vh;
        padding-bottom: 5vh;
        font-size: 10vh;
        text-decoration: none;
        color: white;
    }
    .sidenav a:hover{
        color: #f1f1f1;
        text-decoration: underline;
    }
    .sidenav .closebtn{
        position: absolute;
        top: 0;
        right: 3vw;
        font-size: 10vw;
        padding-top: 2vh;
    }
    .sidenav i{
        font-size: 10vw;
    }
    .sec1 .back{
        background: url('./assets/bg2.png');
        height: 100vh;
        width: 100vw;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        background-position: center;
        transform: scale(1);
    }
    .sec2{
        height: 70vh;
        width:100vw;
        background-color: #F5CC00;
        /* padding-bottom: 5vh; */
    }
    .sec2 .thingy{
        background: none;
        clip-path: none;
        display: static;
        position:relative;
        width: 100%;
        height: auto;
    }
    .sec2 .thingy img{
        display: block;
        height: 100%;
        width: 100%;
    }
    .sec2 .text{
        height: 35vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 0vh;
        position: static;
    }
    .sec2 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec2 .text .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }
    .sec2 .text .bgtext{
        display: none;
    }
    .sec3{
        height: 70vh;
        width:100vw;
        background-color: #EA730B;
        padding-top: 5vh;
    }
    .sec3 .thingy{
        background: none;
        clip-path: none;
        display: static;
        position: relative;
        width: 100%;
        height: auto;
    }
    .sec3 .thingy img{
        display: block;
        height: 100%;
        width: 100%;
    }
    .sec3 .text{
        height: 35vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 0vh;
        position: static;
    }
    .sec3 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec3 .text .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }
    .sec3 .text .bgtext{
        display: none;
    }
    .slider-navigation2 button{
        display: none;
    }
    .sec8{
        height: 70vh;
        width:100vw;
        background-color: #76D0D3;
        padding-top: 5vh;
    }
    .sec8 .thingy{
        background: none;
        clip-path: none;
        display: static;
        position:relative;
        width: 100%;
        height: auto;
    }
    .sec8 .thingy img{
        display: block;
        height: 100%;
        width: 100%;
    }
    .sec8 .text{
        height: 35vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 0vh;
        position: static;
    }
    .sec8 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec8 .text .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }
    .sec8 .text .bgtext{
        display: none;
    }
    .sec5{
        height: 60vh;
        width: 100vw;
        background-color: #F5CC00;
        align-items: center;
        padding-top: 5vh;
    }
    .sec5 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec5 .text .t2{
        text-align: center;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 2vh;
    }
    .sec5 .ytembed{
        height: 50%;
        width: 90%;
        display: block;
        justify-content: center;
        align-self: center;
    }
    .sec4{
        display: none;
    }
    .sec6{
        height: 100vh;
        width: 100vw;
        padding-top: 5vh;
        display: block;
        background-color: #EA730B;
    }
    .sec6 .text{
        display: none;
    }
    .sec6 .text2{
        display: block;
        height: 25vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-bottom: 0vh;
        position: static;
    }
    .sec6 .text2 .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec6 .text2 .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 2vh;
    }
    .sec6 .typeform{
        height: 60vh;
        padding-top: 2vh;
        padding-left: 5vw;
        width: 90%;
    }
}
@media (min-width:576px) and (max-width:850px) {
    .navbar .text {
        display: none;
    }
    .navbar .socials {
        display: none;
    }
    .navbar .burger {
        display: inline;
        transition: 0.5s;
    }
    .navbar .burger i {
        font-weight: 900;
        font-size: 10vw;
        padding: 3vw;
    }
    .navbar .logo img {
        height: 100%;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 10vh;
        transition: 0.5s;
        text-align: center;
    }
    .sidenav a{
        padding-top: 1vh;
        padding-left: 1vh;
        padding-right: 1vh;
        padding-bottom: 5vh;
        font-size: 10vh;
        text-decoration: none;
        color: white;
    }
    .sidenav a:hover{
        color: #f1f1f1;
        text-decoration: underline;
    }
    .sidenav .closebtn{
        position: absolute;
        top: 0;
        right: 3vw;
        font-size: 10vw;
        padding-top: 2vh;
    }
    .sidenav i{
        font-size: 10vw;
    }
    .sec1 .back{
        background: url('./assets/bg2.png');
        height: 100vh;
        width: 100vw;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        background-position: center;
        transform: scale(1);
    }
    .sec2{
        height: 70vh;
        width:100vw;
        background-color: #F5CC00;
        /* padding-bottom: 5vh; */
    }
    .sec2 .thingy{
        background: none;
        clip-path: none;
        display: static;
        position:relative;
        width: 100%;
        height: auto;
    }
    .sec2 .thingy img{
        display: block;
        height: 100%;
        width: 100%;
    }
    .sec2 .text{
        height: 35vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 10vh;
        position: static;
    }
    .sec2 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec2 .text .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }
    .sec2 .text .bgtext{
        display: none;
    }
    .sec3{
        height: 70vh;
        width:100vw;
        background-color: #EA730B;
        padding-top: 30vh;
    }
    .sec3 .thingy{
        background: none;
        clip-path: none;
        display: static;
        position: relative;
        width: 100%;
        height: auto;
    }
    .sec3 .thingy img{
        display: block;
        height: 100%;
        width: 100%;
    }
    .sec3 .text{
        height: 35vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 10vh;
        position: static;
    }
    .sec3 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec3 .text .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }
    .sec3 .text .bgtext{
        display: none;
    }
    .slider-navigation2 button{
        display: none;
    }
    .sec8{
        height: 70vh;
        width:100vw;
        background-color: #76D0D3;
        padding-top: 30vh;
    }
    .sec8 .thingy{
        background: none;
        clip-path: none;
        display: static;
        position:relative;
        width: 100%;
        height: auto;
    }
    .sec8 .thingy img{
        display: block;
        height: 100%;
        width: 100%;
    }
    .sec8 .text{
        height: 35vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
        position: static;
    }
    .sec8 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec8 .text .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 5vh;
    }
    .sec8 .text .bgtext{
        display: none;
    }
    .sec5{
        height: 70vh;
        width: 100vw;
        background-color: #F5CC00;
        align-items: center;
        padding-top: 25vh;
    }
    .sec5 .text .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec5 .text .t2{
        text-align: center;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 2vh;
    }
    .sec5 .ytembed{
        height: 50%;
        width: 90%;
        display: block;
        justify-content: center;
        align-self: center;
    }
    .sec4{
        display: none;
    }
    .sec6{
        height: 100vh;
        width: 100vw;
        padding-top: 5vh;
        display: block;
        background-color: #EA730B;
    }
    .sec6 .text{
        display: none;
    }
    .sec6 .text2{
        display: block;
        height: 25vh;
        width: 100%;
        display:block;
        justify-content: center;
        padding-bottom: 0vh;
        position: static;
    }
    .sec6 .text2 .t1{
        text-align: center;
        font-size: 15vw;
        line-height: 85%;
    }
    .sec6 .text2 .t2{
        text-align: justify;
        font-size: 7vw;
        width: 90%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 2vh;
    }
    .sec6 .typeform{
        height: 60vh;
        padding-top: 2vh;
        padding-left: 5vw;
        width: 90%;
    }
}