* {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    padding: 0;
    border: 0;
    margin: 0;
    z-index: 1;
}
html body{
    overflow-x: hidden;
}
.sec1{

    height: 100vh;
    width: 100vw;
}
.sec1 .back{
    background: url('./assets/bg1.png');
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    transform: scale(0.95);
}
.bg{
    background-color: #F5821F;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
}
.bg .l{
    height: 100vh;
    width: 35vw;
    position: absolute;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 68% 100%, 0 100%);
    background-color: #76D0D3;
}
.bg .r{
    height: 100vh;
    width: 36vw;
    position: absolute;
    right: 0;
    clip-path: polygon(32% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #EDC81B;
}


.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    font-size: 2.5em;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: absolute;
    color: white;
}
.navbar .logo{
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
}
.navbar .text{
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
.navbar .socials {
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-right: 50px;
    justify-content: space-between;
    transform: scale(0.9);
}
.navbar .socials .b1{
    background-color: blue;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.sec2{
    height: 70vh;
    width:100vw;
    background-color: #EDC81B;
}
.sec2 .thingy{
    position: absolute;
    right: 0;
    background: url('./assets/img1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 61%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
}
.sec2 .text{
    position: absolute;
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec2 .text .t1{
    font-size: 5em;
    z-index: 3;
}
.sec2 .text .t2{
    width: 30vw;
    font-size: 2.5em;
    z-index: 3;
}
.sec2 .text .bgtext{
    font-size: 27em;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 12%;
    transform: translateX(-8%);
}
.sec3{
    height: 70vh;
    width:100vw;
    background-color: #F5821F;
}
.sec3 .thingy{
    position: absolute;
    left: 0;
    background: url('./assets/img2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 61%;
    clip-path: polygon(0 0, 82% 0, 100% 100%, 0 100%);
}
.sec3 .text{
    position: absolute;
    right:0;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec3 .text .t1{
    font-size: 5em;
    z-index: 3;
}
.sec3 .text .t2{
    width: 30vw;
    font-size: 2.5em;
    z-index: 3;
}
.sec3 .text .bgtext{
    font-size: 27em;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 12%;
    transform: translateX(-8%);
}
.sec4{
    height: 60vh;
    width: 100vw;
    background-color: #76D0D3;
    display: flex;
}
.sec4 .text{
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    
}
.sec4 .text .t1{
    font-size: 5em;
    line-height: 85%;
}
.sec4 .text .t2{
    font-size: 2.5em;
}
.sec4 .articles{
    height: 60vh;
    width: 70vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    flex-shrink: 0;
}
.sec4 .articles .scroll{
    height: fit-content;
    width: 70vw;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-shrink: 0;
    padding:5vh;
}
.sec4 .articles .box{
    background-color: white;
    margin-right: 4vw;
    min-width: 18vw;
}
.sec4 .articles .box:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
.sec4 .articles .box img{
    width: 100%;
}
.sec4 .articles .box .bt {
    padding: 10px;
}
.sec4 .articles .box .bt .h{
    font-size: 2.2em;
    color: #E0B900;
    
}
.sec4 .articles .box .bt .t{
    font-size: 1.8em;
    
}
.sec4 .articles .box .bt .f{
    color: #F5821F;
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 10px;
}
.scroll::-webkit-scrollbar {
    height: 8px;
    width: 40%;
    background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background: #F5821F;
    -webkit-border-radius: 1ex;
}

.scroll::-webkit-scrollbar-track {
    background: transparent;
    margin: 0 500px; /* Reduce the scrollbar's visible width */
  }




.t2 {
    font-family: "Sofia Sans Extra Condensed", serif;
}

