* {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "width" 100;
    padding: 0;
    border: 0;
    margin: 0;
    z-index: 1;
}

html{
    height: 100%;
}

html body{
    background: #F5821F;
    height: 100%;
}

.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: fixed;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5)10%,rgba(0,0,0,0.0));
    z-index: 2;
}

.navbar .burger {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 5vh;
    transition: 0.5s;
}

.navbar .logo{
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-left: 2vw;
    margin-top: 1vh;
}

.navbar .logo img{
    height: 125%;
}

.navbar .text{
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
.navbar .socials {
    display: flex;
    width: 15vw;
    height: 10vh;
    align-items: center;
    padding-right: 2vw;
    justify-content: space-between;
    transform: scale(0.9);
}

.navbar .socials .bi-youtube{
    font-size: 4vw;
}

.navbar a{
    color: white;
    text-decoration: none
}

.navbar a:hover{
    text-decoration: underline;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 255, 0.1),  rgba(0, 0, 0, 0.8)), url("assets/img1.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    padding-top: 10vh;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1{
    font-size: 20vh;
}
.hero-text h2{
    font-size: 5vh;
    font-family: "Sofia Sans Extra Condensed", serif;
}

.hero-text h2 i{
    display: none;
}

.hero-text span{
    margin-right: 1vw;

}

.t2{
    font-family: "Sofia Sans Extra Condensed", serif;
    font-size: 5vh;
    text-align: justify;
}

.sec2{
    height: 60vh;
    width:100vw;
    background-color: #76D0D3;
}
.sec2 .thingy{
    position: absolute;
    right: 0;
    background-color: #EA730B;
    background: url('./assets/gallery/gallery25.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 61%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
}

.sec2 .thingy img{
    display: none;
}

.sec2 .text{
    position: absolute;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec2 .text .t1{
    font-size: 5vw;
    z-index: 3;
}
.sec2 .text .t2{
    width: 30vw;
    font-size: 2.5vw;
    z-index: 3;
}
.sec2 .text .bgtext{
    font-size: 22vw;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 10%;
    transform: translateX(-8%);
}
.sec3{
    height: 60vh;
    width:100vw;
    background-color: #EA730B;
}
.sec3 .thingy{
    position: absolute;
    left: 0;
    background-color: #F5CC00;
    background: url('./assets/gallery/gallery16.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 61%;
    clip-path: polygon(0 0, 82% 0, 100% 100%, 0 100%);
}
.sec3 .text{
    position: absolute;
    right:0;
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec3 .text .t1{
    font-size: 5vw;
    z-index: 3;
}
.sec3 .text .t2{
    width: 30vw;
    font-size: 2.5vw;
    z-index: 3;
}
.sec3 .text .bgtext{
    font-size: 22vw;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 10%;
    transform: transla teX(-8%);
}

.sec8{
    height: 60vh;
    width:100vw;
    background-color: #F5CC00;
}
.sec8 .thingy{
    position: absolute;
    right: 0;
    background-color: #EA730B;

    background: url('./assets/img1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 61%;
    clip-path: polygon(36% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.sec8 .thingy img{
    display: none;
}
.sec8 .text{
    position: absolute;
    left: 0%;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.sec8 .text .t1{
    font-size: 5vw;
    z-index: 3;
}
.sec8 .text .t2{
    width: 30vw;
    font-size: 2.5vw;
    z-index: 3;
}
.sec8 .text .bgtext{
    font-size: 22vw;
    position: absolute;
    z-index: 1;
    color: #0B0A08;
    opacity: 10%;
    transform: translateX(-8%);
}

@media (max-width:850px) {
    .navbar .text {
        display: none;
    }
    .navbar .socials {
        display: none;
    }
    .navbar .burger {
        display: inline;
        transition: 0.5s;
    }
    .navbar .burger i {
        font-weight: 900;
        font-size: 15vw;
        padding: 3vw;
    }
    .navbar .logo img {
        height: 125%;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 10vh;
        transition: 0.5s;
        text-align: center;
    }
    .sidenav a{
        padding-top: 1vh;
        padding-left: 1vh;
        padding-right: 1vh;
        padding-bottom: 5vh;
        font-size: 10vh;
        text-decoration: none;
        color: white;
    }
    .sidenav a:hover{
        color: #f1f1f1;
        text-decoration: underline;
    }
    .sidenav .closebtn{
        position: absolute;
        top: 0;
        right: 3vw;
        font-size: 10vw;
        padding-top: 2vh;
    }
    .sidenav i{
        font-size: 10vw;
    }
    .hero-text h1{
        font-size: 15vh;
    }
    .hero-text h2{
        font-size: 5vh;
        font-family: "Sofia Sans Extra Condensed", serif;
    }
    .hero-text h2 i{
        display: block;
        top: 90%;
    }
    .hero-image{
        height: 100%;
    }
    .sec2{
        height: 50vh;
        margin: 1vh;
    }
    .sec2 .thingy{
        clip-path: none;
        width: 100%;
        height: 50vh;
    }
    .sec2 .text{
        z-index: 5;
        color: white;
        height: 50vh;
    }
    .sec2 .text .t1{
        font-size: 6vh;
    }
    .sec2 .text .bgtext{
        opacity: 15%;
        color: white;
    }
    .sec3{
        height: 50vh;
        margin: 1vh;
    }
    .sec3 .thingy{
        clip-path: none;
        width: 100%;
        height: 50vh;
    }
    .sec3 .text{
        z-index: 5;
        color: white;
        height: 50vh;
    }
    .sec3 .text .t1{
        font-size: 6vh;
    }
    .sec3 .text .bgtext{
        opacity: 15%;
        color: white;
    }
    .sec8{
        height: 50vh;
        margin: 1vh;
    }
    .sec8 .thingy{
        clip-path: none;
        width: 100%;
        height: 50vh;
    }
    .sec8 .text{
        z-index: 5;
        color: white;
        height: 50vh;
    }
    .sec8 .text .t1{
        font-size: 6vh;
    }
    .sec8 .text .bgtext{
        opacity: 15%;
        color: white;
    }

}